<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	{ifset $title}<title>{ifset $title}{$title|striptags} | {/ifset} {ifset $web}{$web|striptags}{/ifset}</title>{/ifset}

	{asset css}
    <link type="text/css" rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<h1>Tests</h1> <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	{include content}

	{asset js}
    <script type="text/javascript" src="{$basePath}/js/script.js"></script>
</body>
</html>
